*{
    font-family: 'Montserrat', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
   

body {
    background: url("../icon/dotted-background.webp");
}

.config {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mode{
    margin-left: 0px;
    cursor: pointer;
    margin-bottom: 10px;
}

.social-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    box-sizing: border-box;
    letter-spacing: 10px;
    margin-right: -20px;
    margin-bottom: 10px;
}

.inputColor{
    background: transparent;
}

.container{
    display: flex;
    justify-content: center;
}

.subcontainer{
    margin-top: 80px;
    border: 2px solid rgba(112, 112, 112, 0.705);
    box-shadow: 0px 0px 15px 2px rgb(47, 49, 49);
    border-radius: 7px;
    padding: 25px;
    width: 50%;
    height: 50%;
    text-align: center;
    background: rgb(252, 248, 248);
}

.title{
    text-align: center;
    font-weight: 700;
}

.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .title-container img{
        width: 35px;
        margin-left: 7px;
    }

.button{
    color: #fff;
    border-radius: 5px;
    border: none;
    background: #0D6EFD;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size:20px;
    font-weight: 300;
}

.button:hover{
    background: #0e51b6;
    cursor: pointer;
}

.copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copy-icon{
    margin-top: 100px;
    margin-left: 10px;
    cursor: pointer;
}

    .copy-icon i:hover {
        animation: beat 0.5s infinite alternate;
    }

    @keyframes beat {
        to {
          transform: scale(1.4);
        }
      }

.hex-color-text{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: rgb(153, 148, 148);
    font-weight: 300;
}

.hex-color{
    height:170px;
    border-radius:5px;
    background: #C42121;
    width: 100%;
}

@media (max-width: 770px){
    .subcontainer{
        width:80%;
    }
}